html {
  scroll-behavior: smooth;
}

.background-image{
  background-size:contain;
  background-repeat: no-repeat;
  width:100%;
  height: 0;
  margin-top: -1px;
}
.Foliage_Top{
  padding-top: calc(803.14% / 1426.95 * 100);
  background-image: url("img/Foliage_Top.svg");
}
.Foliage_Mid_1{
  padding-top: calc(360.97% / 1280.99 * 100);
  background-image: url("img/Foliage_Mid_1.svg");
}
.Foliage_Mid_2{
  padding-top: calc(360.97% / 1280.99 * 100);
  background-image: url("img/Foliage_Mid_2.svg");
}
.Foliage_Bottom{
  padding-top: calc(721.53% / 1281.54 * 100);
  background-image: url("img/Foliage_Bottom.svg");
}
.Trunk_Sky_1{
  padding-top: calc(360.97% / 1280.99 * 100);
  background-image: url("img/Trunk_Sky_1.svg");
}
.Trunk_Sky_2{
  padding-top: calc(360.97% / 1280.99 * 100);
  background-image: url("img/Trunk_Sky_2.svg");
}
.Branch_Scroll{
  padding-top: calc(720.99% / 1280.99 * 100);
  background-image: url("img/Branch_Scroll.svg");
}
.Roots_Start{
  padding-top: calc(494.14% / 1280.99 * 100);
  background-image: url("img/Roots_Start.svg");
}
.Roots_Header{
  padding-top: calc(360.97% / 1280.99 * 100);
  background-image: url("img/Roots_Header.svg");
}
.Roots_Body{
  padding-top: calc(720.99% / 1280.99  * 100);
  background-image: url("img/Roots_Body.svg");
}
.Roots_End{
  padding-top: calc(360.97% / 1280.99 * 100);
  background-image: url("img/Roots_End.svg");
}
.no-collapse{
  transition: none;
  display: none;
}
.scroll-position{
  position: absolute;
  top: -90px;
  /*navbar height=89.868*/
  right: 0;
}
.position-relative{
  position:relative;
}
.centering-div{
  flex-grow: 1;
  flex-basis: 0;
}
.faq-text{
  width: 100%;
  color:black;
}
.card-header .faq-text{
  font-size: 1.2rem;
}
.card-body{
  font-size: 1.1rem;
}

#trunk-content .collapse{
  max-height:200px;
  overflow:auto;
}

.spread-elements {
  display: flex;
  justify-content: space-between;
  width:100%;
}
.card{
  background-color: transparent;
}

.main-text{
  color: white;
  text-align: center;
  font-family: "Montserrat";
}

#foliage-content a{
  color: white;
}
.floating-text h1, .floating-text h2, .floating-text p{
   color:#ffc490;
 }

 .h3{
  font-size: 1.75rem;
 }

text-decoration-none{
  text-decoration: none;
}
 #faq-link:hover h1{
   border-bottom: 4px solid white;
 }

.floating-text{
  background-color: hsla(0, 0%, 35%, 0.7);
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.prevent-collapse{
  overflow: hidden;
}

.row-no-gutters .image-link{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.image-link{
  width:100%;
  display: inline-block;
  max-width: 275px;
  margin: 20px;
  transition: opacity 0.3s;
}
.image-link:hover{
  opacity: 0.8;
}


.sponsor-image{
  width:100%;
}

.center{
  align-items: center;
  justify-content: center;
}
.sponsor-image-1 {
  width: auto;
  height: auto;
  max-width: 450px;
  max-height: 225px;
}

.sponsor-image-2 {
  width: auto;
  height: auto;
  max-width: 275px;
  max-height: 175px;
}

.show~* .d-collapsing-none, .collapsing~* .d-collapsing-none{
  display: none!important;
}
.show~* .d-collapsing-block, .collapsing~* .d-collapsing-block{
  display: block!important;
}
.nav-link{
  padding: 0.5rem clamp(0.25rem, 0.7vw, 0.5rem)!important;
}
@media (min-width: 576px) {
  .centering-sm-unset{
    flex-grow: unset !important;
    flex-basis: unset !important;
  }
}

.btn-round {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  color: white;
  font-family: "Montserrat";
  background: #007bffcc;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  padding: 15px 30px;
}

.btn-round:hover {
  background: #0062CC;
  color: white;
  text-decoration: none;
}
footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #2E2E2E;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}
.brand-icon{
  font-size:2rem;
}